*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 620px;
}
button{
    cursor: pointer;
    font-weight: 500;
    border: none;
}

//==============Scores===================
.scores{
    background-color: #0EB9B9;
    color: aliceblue;
    padding: 10px;

    display: flex;
    align-items: center;
    position: relative;
    .player_number,.point_number{
        position: absolute;
        left: 95px;
    }
    h1{
        position: absolute;
        left: 240px;
    }
}

//==============Players===================
ul{
    li{
        background-color: #F4F6F7;
        display: flex;
        padding: 10px;
        position: relative;

        .li_1{
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .btn_delete{
                background-color: transparent;
                opacity: 0.3;
            }
            .btn_delete:hover{
                opacity: 1;
            }
            .fa-crown{
                opacity: 0.06;
            }

        }
        .li_2{ 
            position: absolute;
            left: 520px;

            font-size: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .btn_decrease, .btn_increase{
                background-color: transparent;
            }
        }
    }
}
//==============Add_player===================
.add_player{
    background-color: #0EB9B9;
    padding: 10px;

    .form_input{
        display: flex;
        gap: 15px;

        input{
            width: 450px;
            height: 30px;
            background-color: #14A4A3;
            color: white;
            border-radius: 5px;
            border: none;
            padding: 10px;
            font-weight: 600;
        }
        input::placeholder{
            color: #F4F6F7;
        }
        button{
            padding: 5px 20px;
            border-radius: 2px;
            font-weight: 700;
            box-shadow: 0 1px 3px rgba(0,0,0,0.70), 0 1px 2px rgba(0,0,0,0.24);

        }
        button:hover{
            background-color: black;
            color: white;
        }


    }
    
    color: aliceblue;


}
